@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "jharkhand";
    default: true;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(98% 0.008 80);
    --color-base-200: oklch(95% 0.015 75);
    --color-base-300: oklch(90% 0.02 70);
    --color-base-content: oklch(25% 0.02 50);
    --color-primary: oklch(55% 0.18 25);
    --color-primary-content: oklch(98% 0.01 25);
    --color-secondary: oklch(75% 0.16 70);
    --color-secondary-content: oklch(25% 0.05 70);
    --color-accent: oklch(50% 0.14 145);
    --color-accent-content: oklch(98% 0.01 145);
    --color-neutral: oklch(30% 0.02 50);
    --color-neutral-content: oklch(95% 0.01 50);
    --color-info: oklch(62% 0.15 245);
    --color-info-content: oklch(98% 0 0);
    --color-success: oklch(65% 0.18 145);
    --color-success-content: oklch(20% 0.05 145);
    --color-warning: oklch(80% 0.15 85);
    --color-warning-content: oklch(25% 0.05 85);
    --color-error: oklch(58% 0.20 25);
    --color-error-content: oklch(98% 0 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
